{% extends "base.html" %}

{% block content %}
<p>Original URL: {{ object.original_url }}</p>
<p>ShortURL: {{ request.scheme }}://{{ request.get_host }}{{ object.word.get_absolute_url }}</p>
{% endblock %}
